/* background-color: #c4e0f9; */
body {
  background-color: #F1F1F1;
}

/*
d3-tip
*/

.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 6px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}


.ic-logo {
  animation: ic-logo-spin infinite 20s linear;
  height: 80px;
}

.ic-header {
  padding: 20px;
  color: #2b4141;
  text-align: center;
}

.ic-title {
  font-size: 3.2em;
  margin-bottom: 10px;
}

.ic-intro {
  font-size: large;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.ic-intro a {
  color: #222222;
}

.ic-author {
  padding-top: 30px;
  font-size: 0.8em;
}

.ic-author a {
  color: #222222;
}

.ic-table-button {
  text-align: center;
}

.ic-table-container {
  text-align: left;
  margin: 0 auto;
  width: max-content;
}

.ic-table-container-item {
  border-bottom: 1px solid #90d5d8;
}

.ic-center-content {
  padding-left: 10%;
  padding-right: 10%;
}

.ic-team-matrix {
  padding-top: 10px;
  text-align: center;
}

.ic-sachin-century {
  padding-top: 10px;
  text-align: center;
}

@keyframes ic-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
